@import './colors.scss';


html, body,{
  height: 100%;
  background-image: linear-gradient(to right top, #0f0f0f, #111111, #131313, #141414, #161616);
  font-family: 'Raleway', sans-serif;


    
}

#highlight {
  color: $hightlight !important
}

.Slider {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

.Slider-slides {
  display: flex;
}

.Slider-slides--transition {
  transition: transform 0.25s;
}

.Slider-slides > * {
  flex-basis: 0;
  flex-grow: 1;
}

.Slider-slides > * {
  flex-basis: 0;
  flex-grow: 1;
}

.Slider-nav {
  align-content: center;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  order: 2;
}

.Slider-navButton {
  background: none;
  border: 0;
  height: 20px;
  opacity: 0.5;
  outline: none;
  position: relative;
  transition: opacity 0.25s;
  width: 20px;
  padding: 0;

  &::after {
    background: #345;
    border-radius: 50%;
    content: '';
    display: block;
    height: 6px;
    left: 7px;
    position: absolute;
    top: 7px;
    width: 6px;
  }
}

.Slider-navButton--active {
  opacity: 1;

  &::after {
    height: 12px;
    left: 4px;
    opacity: 1;
    top: 4px;
    width: 12px;
  }
}

.Slider-arrows {
  height: 0;
  left: 0;
  position: absolute;
  // (40 + 20 + 10) / 2 = 35
  // (arrow height + nav height + nav top margin) / 2
  top: calc(50% - 35px);
  width: 100%;
  z-index: 1;
}

.Slider-arrows--noNav {
  // 40 / 2 = 20
  // arrow height / 2
  top: calc(50% - 20px);
}

.Slider-arrow {
  background: none;
  border: none;
  height: 40px;
  opacity: 0.5;
  outline: none;
  position: absolute;
  transition: opacity 0.25s;
  padding: 0px;
  width: 21px;

  &:hover {
    opacity: 1;
  }

  &::after,
  &::before {
    background: #fff;
    border-radius: 3px;
    content: '';
    display: block;
    height: 23px;
    position: absolute;
    width: 5px;
    left: 8px;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}

.Slider-arrow--left {
  top: 0;
  left: 10px;

  &::before {
    transform: rotate(30deg);
  }

  &::after {
    transform: rotate(-30deg);
  }
}

.Slider-arrow--right {
  top: 0;
  right: 10px;

  &::before {
    transform: rotate(-30deg);
  }

  &::after {
    transform: rotate(30deg);
  }

}

// #first_section{
//   // display: flex;
//   height: 90vh;
  
//   .nav {
//     display: flex;
//     #logo {
//       flex: 1;
//       img {
//         margin: 10px;
//         width: 100px;
//         height: 100px;
//       }
//     }
//     #menu {
//       flex: 1;
//       display: flex;
//       a {
//         text-align: center;
//         color: $text;
//         flex: 1;
//         margin: auto;
//       }
//     }
//   }
//   #header {
//     font-family: 'Anton', sans-serif;
//     #typewritter {
//       color: $text;
//       .type_intro {
//         width: 60%;
//         margin: auto;
//         font-size: 4em;
//         margin-top: 2em;
//         text-align: center;
//         text-align-last: center;
//         // text-justify: 
//       }
//       #type_description {
//         font-size: 1.5em;
//       }
//       .seemycv {
//         text-align: center;
//         width: 100%;
//         margin-top: 2em;
//         transition: opacity 500ms ease-out;
//         opacity: 0;
//         &.show{
//           opacity: 1;
//         }
//         a {
//           width: 20%;
//           display: inline-block;
//           border-radius: 1em;
//           // background-color: $hightlight;
//           border: solid 2px $hightlight;
//           // color: $main;
//           color: $hightlight;
//           // font-family: 'Raleway', sans-serif;
//           font-weight: 500;
//           padding: 1em;
//           -webkit-transition: 300ms; /* Safari */
//           -webkit-transition-timing-function: ease-in-out; /* Safari */
//           &:hover {
//             text-decoration: none;
//             color: $text;
//             border-color: $text;
//             -webkit-transition: 300ms; /* Safari */
//             -webkit-transition-timing-function: ease-in-out; /* Safari */
//           }
//         }
//       }
//     }
//     #avatar{
//       width: 100%;
//       display: flex;
//       img {
//         margin: auto;
//         width: 300px;
//         height: 300px;
//         border-radius: 100%;
//         padding: 1%;
//         // border: dashed 5px  $text;
//       }
//     }
//   }
// }


// @media (min-width:320px)  { 
//   /* smartphones, iPhone, portrait 480x320 phones */ 
// }
// @media (min-width:481px)  { 
//   /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
// }
// @media (min-width:641px)  { 
//   /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
// }
// @media (min-width:961px)  {
//    /* tablet, landscape iPad, lo-res laptops ands desktops */ 
//    #typewritter {
//     color: $text;
//     .type_intro {
//       font-size: 1em;
//     }
//   }
// }
// @media (min-width:1025px) {
//    /* big landscape tablets, laptops, and desktops */ 
// }
// @media (min-width:1281px) {
//    /* hi-res laptops and desktops */ 
// }

